@media (max-width: 1024px){
    .content-container{
        max-width: 398px;
        min-height: 565px;
        display: flex;
        padding: 64px 24px 64px 24px;
        gap: 28px;
        flex-direction: column;
        align-items: left;
        padding: 0;
    }
    .main-content{
        gap: 28px;
		padding: 0px 16px 0px 16px;
    }
    .main-content-top{
        display: flex;
        flex-direction: column;
	}
    .contact.info{
        flex-direction: column;
        display: flex;
        padding: 10px 0px 10px 0px;
        height: 112px;
    }
    .main-content p{
        min-width: 320px;
    }
}
@media (max-width: 586px) {
	.footer-content{
	display: grid;
	}
	.lets-connect {
    text-align: left;
    position: relative;
	}	
}
@media (max-width: 430px){
    .navbar-links {
        display: none;
	}
	.header_responsive{
	    margin: 0px 16px;
	}
    .footer-container{
        flex-direction: column;
        gap: 34px;
        justify-content: left;
        display: flex;
        align-items: left;
		padding: 16px;
    }
    .footer-content-left{
        height: 20%;
        width: 100%;
    }
    .footer-content-center{
        width: 100%;
    }
    .footer-container-right{
       width: 100%;
    }
    .body-footer-content-top{
        display: flex;
        flex-direction: column;
    }
	.body-footer-content{
		padding: 64px 16px 64px 16px;
    }
    .body-footer-content h2{
        font-size: 34px;
        min-width: 320px;
    }
    .body-footer-content p{
        min-width: 320px;
    }
}