@font-face {
    font-family: 'myFont';
    src: url('charter/webfonts/charter_regular-webfont.eot');
    src: url('charter/webfonts/charter_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('charter/webfonts/charter_regular-webfont.woff') format('woff');
}
html, header, body, footer{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, header, body{
    background-color: #F4F4F4;
}
body{
    margin: 0;
    padding: 0;
}
footer {
    margin: 0;
    padding: 0;
}
#header{
    background-color: #F4F4F4;
}
.header_responsive {
    font-style: 'myFont';
    background-color: #F4F4F4;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
	margin: 0px 34px;
	height: 75px;
}
.header-contents{
    width: 100%;
    max-width: 1152px;
    justify-content: space-between;
	align-items: center;
}
.navbar-brand img{
	width: 132px;
	height: 18px;
	float: left;
	padding: 16px 0px;

}
.navbar-links{
    display: flex;
    gap: 12px;
    float: right;
}
.navbar-links a {
    text-decoration: none;
    color: grey;
    font-size: 18px;
	padding: 16px 20px;
}
.navbar-links a:hover {
    color: black;
}
.container{
    padding: 64px 0px 64px 0px;
    width: 100%;
    gap: 34px;
    overflow-x: hidden;
}
.content{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 0px 34px 0px 34px;
	gap: 24px;
}
.header-content{
    display: flex;
    width: 100%;
    max-width: 760px;
	gap: 24px;
}
.header-content-left{
    overflow-x: hidden;
    overflow-y: hidden;
}
.header-content-left img{
    max-width: 100%;
    height: 100%;
    max-height: 368px;
    object-fit: cover;
}
.header-content-right{
    width: 368px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-content-right h1{
    font-weight: 400;
}
.main-content{
    width: 100%;
    max-width: 564px;
}
.main-content p{
	margin-bottom: 20px;
}
.main-content h2{
	margin-bottom: 20px;
}

p {
    font-weight: 400;
    font-size: 16px;
    color: black;
    margin: 0;
    line-height: 150%;
}
h1 {
    font-size: 34px;
    position: relative;
	margin: 0;
	font-weight: normal;
}
h2 {
    font-size: 30px;
    position: relative;
	margin: 0;
	font-weight: normal;
}
h3 {
    font-size: 24px;
    color: black;
    margin: 0;
    line-height: 120%;
}
.body-footer-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;

}
.body-footer-content{
    width: 100%;
    max-width: 1152px;
    padding: 64px 24px 64px 24px;
    gap: 28px;
    display: flex;
    flex-direction: column;
}
.body-footer-content-top{
    display: flex;
    max-width: 1152px;
    width: 100%;
    height: 100%;
    align-items: center;
	gap: 24px;
}
.body-footer-content-top-left{
    max-width: 564px;
    max-height: 69px;
    width: 100%;
    height: 100%;
	min-width: 220px;
}
.body-footer-content-top-left h2{
    font-weight: 400;
    margin: 0;
}
.body-footer-content-top-right p{
    font-size: 16px;
    font-weight: 400;
}
.body-footer-content-bottom{
    display: flex;
    max-width: 1152px;
    width: 100%;
    height: 100%;
    align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 24px;
}
.body-footer-content-bottom-left{
    max-width: 564px;
    height: 100%;
}
.body-footer-content-bottom-right{
    max-height: 35px;
    height: 100%;
    gap: 28px;
}
.social-icons{
    gap: 28px;
    display: flex;
	justify-content: end;
}
.contact-info{
    display: flex;
    align-items: center;
	gap: 24px;
	flex-wrap: wrap;
}
.contact-info button{
    padding: 10px 20px;
    border: 1px solid #000;
    background-color: transparent;
    cursor: pointer;
    font-size: 1em;
    transition: 0.3s;
	text-wrap: nowrap;
}
.contact-info button:hover{
    color: white;
    background-color: black;
}
.contact-info .download-cv {
    background-color: #000;
    color: #fff;
    transition: 0.3s;
}
.contact-info .download-cv:hover{
    background-color: white;
    color: black;
}
.body-footer-content-bottom-right img {
    width: 35px;
    height: 35px;
}
.footer-container{
	display: flex;
    background-color: white;
    height: 240px;
    overflow-y: hidden;
    overflow-x: hidden;
	justify-content: center;
	align-items: center;
	padding: 34px;
}
.footer-content{
	height: fit-content;
	display: flex;
	max-width: 1152px;
	width: 100%;
	gap: 24px;
	align-items: center;
    justify-content: space-between;
	flex-wrap: wrap;
}
.footer-links {
    display: flex;
	max-width: 465px;
	text-align: center;
    justify-content: space-between;
	gap: 24px;
}
.footer-links a {
    text-decoration: none;
    color: grey;
}
.lets-connect {
    text-align: right;
    position: relative;
}
.lets-connect p{
    font-weight: 400;
    margin: 0px;
}
.lets-connect h2{
    margin: 0px;
}